# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Jorge Barroso <jorge_barroso_11 at hotmail dot com>
[Desktop Entry]
Name=KHarvest
GenericName=Timer for Harvest
Comment=Harvest Timing Tracker Software With Invoicing
Version=1.0
Exec=kharvest
Icon=org.kde.kharvest
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;Office;Utility
